backend/node-red/flows.json
[
    {
        "id": "0ebc9fe30e2af211",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e196b19e598c60ff",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de99ec2141cbd81f",
        "type": "group",
        "z": "0ebc9fe30e2af211",
        "name": "DB CREATION (To be executed only once)",
        "style": {
            "label": true
        },
        "nodes": [
            "9ce4f3b67e84a1eb",
            "3ed309125e4d5c7d"
        ],
        "x": 794,
        "y": 2339,
        "w": 992,
        "h": 82
    },
    {
        "id": "900bf7bf98ef5e48",
        "type": "group",
        "z": "0ebc9fe30e2af211",
        "name": "Database Preparation (SQLite)",
        "style": {
            "label": true
        },
        "nodes": [
            "21119488f0fcdc46"
        ],
        "x": 794,
        "y": 2179,
        "w": 672,
        "h": 82
    },
    {
        "id": "d5b0e68c69f5dd85",
        "type": "group",
        "z": "0ebc9fe30e2af211",
        "name": "Save Data (Write)",
        "style": {
            "label": true
        },
        "nodes": [
            "9843e18731ff976b",
            "51c95b9a03b5c860"
        ],
        "x": 3194,
        "y": 1439,
        "w": 452,
        "h": 82
    },
    {
        "id": "8d50bf9a1e710b05",
        "type": "group",
        "z": "0ebc9fe30e2af211",
        "name": "Handle_View_chart",
        "style": {
            "label": true
        },
        "nodes": [
            "4933d83c3ffd4cc2",
            "a908c8d6422e514a",
            "7b277b7f02e4bd26",
            "f507250023c4bd98",
            "1182bc5a0f716974",
            "3d75e7fc0839c97d",
            "32cdb335e26905da",
            "40110bf9cd3a368b",
            "795145e4a8e20418",
            "b7a2c9425424a93f",
            "b122c1e8d4d18fc9",
            "e922a3be02896062",
            "query_ai_stats",
            "sqlite_ai_stats",
            "format_ai_chart",
            "split_ai_data",
            "fix_ai_msg",
            "chart_ai_accuracy",
            "delay_node",
            "1a5168f0038d5725",
            "609fcb634e466613",
            "e2d51efdc1eed115"
        ],
        "x": 2274,
        "y": 1919,
        "w": 2632,
        "h": 522
    },
    {
        "id": "ecabd79993662d15",
        "type": "group",
        "z": "0ebc9fe30e2af211",
        "name": "DEBUG_SQL_INSERT",
        "style": {
            "label": true
        },
        "nodes": [
            "inspector_inject",
            "inspector_sqlite",
            "inspector_debug",
            "test_write_debug",
            "test_write_inject",
            "test_write_sqlite"
        ],
        "x": 794,
        "y": 2619,
        "w": 672,
        "h": 162
    },
    {
        "id": "7565126f5d2e9e7a",
        "type": "group",
        "z": "0ebc9fe30e2af211",
        "name": "Catch",
        "style": {
            "label": true
        },
        "nodes": [
            "catch_errors",
            "debug_errors"
        ],
        "x": 794,
        "y": 2479,
        "w": 432,
        "h": 82
    },
    {
        "id": "61f78308dbba9e1b",
        "type": "group",
        "z": "e196b19e598c60ff",
        "name": "Tape simulation (to dispose of the queue when using debug nodes)",
        "style": {
            "label": true
        },
        "nodes": [
            "SIM_INJECT_SENSOR",
            "SIM_DELAY_10S",
            "SIM_GET_INFO",
            "SIM_CREATE_CLEARED_MSG",
            "SIM_MQTT_OUT_CLEARED",
            "81394f7a933b62b5"
        ],
        "x": 554,
        "y": 1019,
        "w": 1472,
        "h": 182
    },
    {
        "id": "24c0b9e5da4bd92d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b8f4a9791328f42c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "3879e91f08d0fed4",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "26b3815d27b3140c",
        "type": "telegrambot-config",
        "botname": "SmartBinBot",
        "usernames": "",
        "chatIds": "",
        "pollInterval": 300
    },
    {
        "id": "e1dff9e0ae649db1",
        "type": "sqlitedb",
        "db": "/Users/roccopagliarulo/Documents/GitHub/SmartBin/backend/db/tmp/smartbin_test.db",
        "mode": "RWC"
    },
    {
        "id": "c858a3399cfe614c",
        "type": "ui-page",
        "name": "Dashboard",
        "ui": "b8f4a9791328f42c",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "3879e91f08d0fed4",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dd6fab847597a4f7",
        "type": "ui-group",
        "name": "Gate",
        "page": "c858a3399cfe614c",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "813651c816117ad2",
        "type": "ui-group",
        "name": "Historical",
        "page": "c858a3399cfe614c",
        "width": "12",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_ai_perf",
        "type": "ui-group",
        "name": "Performance AI",
        "page": "c858a3399cfe614c",
        "width": "12",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e875dd427cdd28ab",
        "type": "mqtt in",
        "z": "0ebc9fe30e2af211",
        "name": "ESP32: Proximity Event",
        "topic": "smartbin/mouth/+/event/proximity",
        "qos": "2",
        "datatype": "json",
        "broker": "24c0b9e5da4bd92d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1780,
        "y": 580,
        "wires": [
            [
                "af5e27da4267a0eb"
            ]
        ]
    },
    {
        "id": "8fe53e2b9c97ddfe",
        "type": "change",
        "z": "0ebc9fe30e2af211",
        "name": "CMD: Take Photo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"action\": \"take_photo\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.waste_id",
                "pt": "msg",
                "to": "waste_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"smartbin/mouth/\" & msg.mouth_id & \"/command\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2490,
        "y": 580,
        "wires": [
            [
                "ed591e3599a58756",
                "9e35c62c1e6a9835"
            ]
        ]
    },
    {
        "id": "ed591e3599a58756",
        "type": "mqtt out",
        "z": "0ebc9fe30e2af211",
        "name": "Send Command to ESP32",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24c0b9e5da4bd92d",
        "x": 2920,
        "y": 580,
        "wires": []
    },
    {
        "id": "ba66671fb2538c7f",
        "type": "mqtt in",
        "z": "0ebc9fe30e2af211",
        "name": "ESP32: Classification Result",
        "topic": "smartbin/mouth/+/state/classification",
        "qos": "2",
        "datatype": "json",
        "broker": "24c0b9e5da4bd92d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1020,
        "y": 1240,
        "wires": [
            [
                "ce79c4573f883019",
                "c46993174b5d7697"
            ]
        ]
    },
    {
        "id": "29cac946e28e9376",
        "type": "switch",
        "z": "0ebc9fe30e2af211",
        "name": "Which Waste?",
        "property": "payload.class",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "plastic_metal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "paper_cardboard",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "glass",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Undifferentiated",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 1840,
        "y": 1440,
        "wires": [
            [
                "82153f20bf0def85"
            ],
            [
                "bd0dc1cdda63f001"
            ],
            [
                "0714dd4773268030"
            ],
            [],
            [
                "d0428c32df4daa9c"
            ]
        ]
    },
    {
        "id": "82153f20bf0def85",
        "type": "change",
        "z": "0ebc9fe30e2af211",
        "name": "CMD: Open Plastic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"action\": \"open_gate\", \"target\": \"plastic_metal\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2150,
        "y": 1420,
        "wires": [
            [
                "99fa5cf42ad50d89"
            ]
        ]
    },
    {
        "id": "bd0dc1cdda63f001",
        "type": "change",
        "z": "0ebc9fe30e2af211",
        "name": "CMD: Open Paper",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"action\": \"open_gate\", \"target\": \"paper_cardboard\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2150,
        "y": 1480,
        "wires": [
            [
                "99fa5cf42ad50d89"
            ]
        ]
    },
    {
        "id": "0714dd4773268030",
        "type": "change",
        "z": "0ebc9fe30e2af211",
        "name": "CMD: Open Glass",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"action\": \"open_gate\", \"target\": \"glass\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2150,
        "y": 1540,
        "wires": [
            [
                "99fa5cf42ad50d89"
            ]
        ]
    },
    {
        "id": "845360a3c703fac6",
        "type": "mqtt in",
        "z": "0ebc9fe30e2af211",
        "name": "ESP32: User Correction",
        "topic": "smartbin/mouth/+/event/correction",
        "qos": "2",
        "datatype": "json",
        "broker": "24c0b9e5da4bd92d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1020,
        "y": 1660,
        "wires": [
            [
                "aa7bc76605df7819"
            ]
        ]
    },
    {
        "id": "78ab28e72c844e14",
        "type": "comment",
        "z": "0ebc9fe30e2af211",
        "name": "Lane 2: Manual Correction",
        "info": "",
        "x": 990,
        "y": 1540,
        "wires": []
    },
    {
        "id": "20e175d851de9257",
        "type": "comment",
        "z": "0ebc9fe30e2af211",
        "name": "Lane 1: Triggering and Classification",
        "info": "",
        "x": 1740,
        "y": 460,
        "wires": []
    },
    {
        "id": "ce79c4573f883019",
        "type": "change",
        "z": "0ebc9fe30e2af211",
        "name": "Extract Class for UI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.class",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 1240,
        "wires": [
            [
                "516f611fd9bce57a",
                "7b9373ecb1e5188a"
            ]
        ]
    },
    {
        "id": "516f611fd9bce57a",
        "type": "mqtt out",
        "z": "0ebc9fe30e2af211",
        "name": "Notifica UI Schermo",
        "topic": "smartbin/ui/classification",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24c0b9e5da4bd92d",
        "x": 1940,
        "y": 1180,
        "wires": []
    },
    {
        "id": "2c5a40c9e75cbdbe",
        "type": "mqtt in",
        "z": "0ebc9fe30e2af211",
        "name": "ESP32: User Confirm",
        "topic": "smartbin/mouth/+/event/confirm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "24c0b9e5da4bd92d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1800,
        "y": 1020,
        "wires": [
            [
                "a0481e283d0645bc"
            ]
        ]
    },
    {
        "id": "af5e27da4267a0eb",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Attach ID",
        "func": "// Extract mouth ID (e.g., \"1\")\nvar mouth_id = msg.topic.split('/')[2];\nvar states = flow.get(\"mouth_states\") || {};\n\n// Check if this specific mouth is already busy\nif (states[mouth_id] && states[mouth_id].status === \"busy\") {\n    node.warn(\"Mouth \" + mouth_id + \" is BUSY. Proximity event ignored.\");\n    return null; // Stop flow here\n}\n\n// Watchdog timer (unchanged)\nvar watchdogTimer = setTimeout(function () {\n    var current_states = flow.get(\"mouth_states\") || {};\n    if (current_states[mouth_id] && current_states[mouth_id].status === \"busy\") {\n        current_states[mouth_id].status = \"ready\";\n        current_states[mouth_id].timer = null;\n        flow.set(\"mouth_states\", current_states);\n        node.warn(\"Watchdog: Timeout for mouth \" + mouth_id + \". Reset to READY.\");\n    }\n}, 30000); // 30 seconds\n\n// Generate a waste_id\n// var new_waste_id = \"waste_\" + Date.now();\n\n// ONLY FOR TEST INJECTION\nvar new_waste_id = msg.payload.waste_id || msg.waste_id || (\"waste_\" + Date.now());\n\n// Save the new state\nstates[mouth_id] = {\n    status: \"busy\",\n    timer: watchdogTimer,\n    retries: 0,            \n    current_waste_id: new_waste_id\n};\nflow.set(\"mouth_states\", states);\nnode.log(\"Mouth \" + mouth_id + \" set to BUSY.\");\n\nmsg.mouth_id = mouth_id;\nmsg.waste_id = new_waste_id; // Pass the new waste_id\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2180,
        "y": 580,
        "wires": [
            [
                "8fe53e2b9c97ddfe",
                "edfeb6831cfafabd"
            ]
        ]
    },
    {
        "id": "a0481e283d0645bc",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Extract ID",
        "func": "// Extract mouth ID (e.g., \"1\")\nmsg.mouth_id = msg.topic.split('/')[2];\n\n// Get the waste_id that the ESP32 sent back to us\nif (msg.payload.waste_id) {\n    msg.waste_id = msg.payload.waste_id;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2180,
        "y": 1020,
        "wires": [
            [
                "a4af529b2664c264"
            ]
        ]
    },
    {
        "id": "c46993174b5d7697",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Extract ID",
        "func": "var mouth_id = msg.topic.split('/')[2];\nvar waste_id = msg.payload.waste_id; // ID from incoming message\nvar states = flow.get(\"mouth_states\") || {};\n\n// MODIFIED: Safety Check\n// Check if mouth is busy AND if waste_id matches\nif (!states[mouth_id] || states[mouth_id].status !== \"busy\" || states[mouth_id].current_waste_id !== waste_id) {\n    node.warn(\"Old or unexpected classification message for mouth \" + mouth_id + \". Ignoring.\");\n    return null; // Block this old message\n}\n\n// If check passes, this is the message we were waiting for\n// Clear the Watchdog Timer\nif (states[mouth_id].timer) {\n    clearTimeout(states[mouth_id].timer);\n    states[mouth_id].timer = null;\n    flow.set(\"mouth_states\", states);\n    node.log(\"Watchdog for mouth \" + mouth_id + \" cleared (received classification).\");\n}\n\nmsg.mouth_id = mouth_id; // Pass mouth_id for downstream nodes\n// waste_id no longer needs to be passed, but doesn't hurt\nmsg.waste_id = waste_id;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 1440,
        "wires": [
            [
                "29cac946e28e9376"
            ]
        ]
    },
    {
        "id": "aa7bc76605df7819",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Extract ID",
        "func": "// Extract mouth ID (e.g., \"1\")\nmsg.mouth_id = msg.topic.split('/')[2];\n\n// Get the waste_id that the ESP32 sent back to us\nif (msg.payload.waste_id) {\n    msg.waste_id = msg.payload.waste_id;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1660,
        "wires": [
            [
                "07d8e0f248e992f7"
            ]
        ]
    },
    {
        "id": "99fa5cf42ad50d89",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Avvia Timer 10s",
        "func": "// NODE: Start 10s Timer\n\nvar sessions = flow.get(\"sessions\") || {};\nvar mouth_id = msg.mouth_id;\n\n// Extract material from payload\nvar material = \"unknown\";\nif (msg.payload && msg.payload.target) {\n    material = msg.payload.target;\n}\n\n// Check whether a correction was reported\nvar is_ai_correct = true;\nif (msg.hasOwnProperty(\"ai_correct\")) {\n    is_ai_correct = msg.ai_correct;\n}\n\n// IMPORTANT: Retrieve waste_id from the message\nvar waste_id = msg.waste_id;\n\n// Debug to verify values\nnode.warn(\"Start Timer - mouth_id: \" + mouth_id + \", waste_id: \" + waste_id + \", material: \" + material);\n\n// Store ALL required data\nsessions[mouth_id] = {\n    command: msg.payload,\n    topic: \"smartbin/mouth/\" + mouth_id + \"/command\",\n    waste_id: waste_id,\n    material: material,\n    ai_correct: is_ai_correct\n};\n\n// Function that will send the command\nvar sendCommand = function () {\n    var session = flow.get(\"sessions\")[mouth_id];\n    if (session) {\n        // Build the complete \"job\"\n        var job = {\n            mqtt_payload: session.command,\n            mqtt_topic: session.topic,\n            belt_payload: {\n                info: \"Waste release request (from Timer)\",\n                mouth_id: mouth_id,\n                waste_id: session.waste_id,  \n                material: session.material,\n                ai_correct: session.ai_correct\n            }\n        };\n\n        // Send the \"job\"\n        node.send(job);\n\n        // Clear the session\n        delete flow.get(\"sessions\")[mouth_id];\n    }\n};\n\n// Start the timer\nsessions[mouth_id].timerId = setTimeout(sendCommand, 10000);\n\nflow.set(\"sessions\", sessions);\n\n// Do not send anything now, wait for the timer\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2500,
        "y": 1500,
        "wires": [
            [
                "1ba717a825d0c3f6",
                "e3bb7f57a288293c"
            ]
        ]
    },
    {
        "id": "a4af529b2664c264",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Manage Confirmation",
        "func": "// NODE: Handle Confirmation (Fix waste_id)\n\nvar mouth_id = msg.mouth_id;\nvar sessions = flow.get(\"sessions\") || {};\nvar session = sessions[mouth_id];\nvar job = null;\n\n// Scenario A: Confirmation during 10-second timer\nif (session && session.timerId) {\n    node.log(\"Handle Confirmation (Scenario A): Confirmation during timer.\");\n\n    clearTimeout(session.timerId);\n\n    // RECOVER waste_id:\n    // 1. Try from incoming message (msg.waste_id)\n    // 2. Otherwise from session (session.waste_id)\n    // 3. Fallback to payload (msg.payload.waste_id)\n    var waste_id = msg.waste_id || session.waste_id || msg.payload.waste_id;\n\n    // Debug to understand source\n    node.warn(\"Recovered waste_id: \" + waste_id +\n        \" (from msg: \" + msg.waste_id +\n        \", from session: \" + session.waste_id + \")\");\n\n    // Build complete job\n    job = {\n        mqtt_payload: session.command,\n        mqtt_topic: session.topic,\n        belt_payload: {\n            info: \"Waste release request(Confirmed)\",\n            mouth_id: mouth_id,\n            waste_id: waste_id,\n            material: session.material,\n            ai_correct: session.ai_correct !== undefined ? session.ai_correct : true\n        }\n    };\n\n    delete sessions[mouth_id];\n    flow.set(\"sessions\", sessions);\n    return job;\n}\n\n// Scenario B: Confirmation AFTER 5 failed attempts\nvar states = flow.get(\"mouth_states\") || {};\nif (states[mouth_id] && states[mouth_id].status === \"busy\") {\n    node.log(\"Handle Confirmation (Scenario B): Confirmation after 5 failures ('unknown' case).\");\n\n    var waste_id = states[mouth_id].current_waste_id;\n    if (!waste_id) {\n        node.error(\"Busy state without 'current_waste_id' for mouth \" + mouth_id);\n        return null;\n    }\n\n    // Build job for \"unknown\" material\n    job = {\n        mqtt_payload: { action: \"open_gate\", target: \"unknown\" },\n        mqtt_topic: \"smartbin/mouth/\" + mouth_id + \"/command\",\n        belt_payload: {\n            info: \"Waste release request (Confirmed as Unknown)\",\n            mouth_id: mouth_id,\n            waste_id: waste_id,\n            material: \"unknown\",\n            ai_correct: false\n        }\n    };\n\n    return job;\n}\n\n// Scenario C: Ghost confirmation\nnode.warn(\"Received confirmation for mouth \" + mouth_id + \" with no active session or busy state. Ignoring.\");\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2500,
        "y": 1020,
        "wires": [
            [
                "25b5ab87189484a1",
                "e3bb7f57a288293c"
            ]
        ]
    },
    {
        "id": "07d8e0f248e992f7",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Manage Correction",
        "func": "var mouth_id = msg.mouth_id;\nvar sessions = flow.get(\"sessions\") || {};\nvar session = sessions[mouth_id];\nvar states = flow.get(\"mouth_states\") || {};\nvar state = states[mouth_id];\n\n// Scenario A: Correction during the 10s Timer (Active Session)\nif (session && session.timerId) {\n    node.log(\"Handle Correction (Scenario A): Clearing previous timer.\");\n    clearTimeout(session.timerId);\n\n    // If the incoming message doesn't have waste_id, retrieve it from the session before destroying it\n    if (!msg.waste_id && session.waste_id) {\n        msg.waste_id = session.waste_id;\n        node.warn(\"Recovered waste_id from Session: \" + msg.waste_id);\n    }\n\n    delete sessions[mouth_id];\n    flow.set(\"sessions\", sessions);\n}\n    // Scenario B: Correction AFTER failures (Busy State, Timer expired)\nelse if (state && state.status === \"busy\") {\n    node.log(\"Handle Correction (Scenario B): Recovering waste_id form State.\");\n\n    // Retrieve the ID from the global state if not present in the message\n    if (!msg.waste_id && state.current_waste_id) {\n        msg.waste_id = state.current_waste_id;\n        node.warn(\"Recovered waste_id from State: \" + msg.waste_id);\n    }\n}\nelse {\n    node.warn(\"Received correction without valid state or session. Ignoring.\");\n    // If we don't find the ID anywhere, it could be a problem\n    if (!msg.waste_id) {\n        node.error(\"CRITICAL: waste_id is undefined during correction!\");\n        return null;\n    }\n}\n\nif (msg.payload && msg.payload.corrected_class) {\n    var input_class = msg.payload.corrected_class;\n    msg.payload.class = input_class;\n}\n\n// Explicitly mark as human correction\nmsg.ai_correct = false;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 1920,
        "wires": [
            [
                "29cac946e28e9376",
                "1abb47c764ed6944"
            ]
        ]
    },
    {
        "id": "edfeb6831cfafabd",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "name": "debug_ID",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 540,
        "wires": []
    },
    {
        "id": "9e35c62c1e6a9835",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "name": "Send_Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2890,
        "y": 540,
        "wires": []
    },
    {
        "id": "7b9373ecb1e5188a",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "name": "debug_monitor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2520,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1abb47c764ed6944",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "name": "debug_Correzione",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1990,
        "y": 1920,
        "wires": []
    },
    {
        "id": "TEST_INJECT_1",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "name": "Simulate: Proximity (Mouth 1)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "testID",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "smartbin/mouth/1/event/proximity",
        "payload": "{\"user\":\"detected\"}",
        "payloadType": "json",
        "x": 1780,
        "y": 640,
        "wires": [
            [
                "af5e27da4267a0eb"
            ]
        ]
    },
    {
        "id": "TEST_INJECT_3",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "name": "Simulate: CONFIRM (Mouth 1)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "smartbin/mouth/1/event/confirm",
        "payload": "{\"confirm\":true,\"waste_id\":\"test_waste_123\"}",
        "payloadType": "json",
        "x": 1780,
        "y": 960,
        "wires": [
            [
                "a0481e283d0645bc"
            ]
        ]
    },
    {
        "id": "TEST_INJECT_4",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "name": "Simulate: CORRECTION -> PAPER or CARDBOARD (Mouth 1)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "smartbin/mouth/1/event/correction",
        "payload": "{\"corrected_class\":\"paper_cardboard\",\"waste_id\":\"test_waste_123\"}",
        "payloadType": "json",
        "x": 1040,
        "y": 1720,
        "wires": [
            [
                "aa7bc76605df7819"
            ]
        ]
    },
    {
        "id": "TEST_M2_PROXIMITY",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "name": "Simulate: Proximity (Mouth 2)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "smartbin/mouth/2/event/proximity",
        "payload": "{\"user\":\"detected\",\"waste_id\":\"test_waste_123\"}",
        "payloadType": "json",
        "x": 1760,
        "y": 520,
        "wires": [
            [
                "af5e27da4267a0eb"
            ]
        ]
    },
    {
        "id": "TEST_M2_CLASSIFY",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "name": "Simulate: Class. GLASS (Mouth 2)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "smartbin/mouth/2/state/classification",
        "payload": "{\"class\":\"glass\",\"waste_id\":\"test_waste_123\"}",
        "payloadType": "json",
        "x": 1020,
        "y": 1300,
        "wires": [
            [
                "ce79c4573f883019",
                "c46993174b5d7697"
            ]
        ]
    },
    {
        "id": "TEST_M2_CONFIRM",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "name": "Simulate: CONFIRM (Mouth 2)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "smartbin/mouth/2/event/confirm",
        "payload": "{\"confirm\":true,\"waste_id\":\"test_waste_123\"}",
        "payloadType": "json",
        "x": 1780,
        "y": 1080,
        "wires": [
            [
                "a0481e283d0645bc"
            ]
        ]
    },
    {
        "id": "TEST_M2_CORRECT",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "name": "Simulate: Correction -> PAPER or CARDBOARD (Mouth 2)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "smartbin/mouth/2/event/correction",
        "payload": "{\"corrected_class\":\"paper_cardboard\",\"waste_id\":\"test_waste_123\"}",
        "payloadType": "json",
        "x": 1030,
        "y": 1600,
        "wires": [
            [
                "aa7bc76605df7819"
            ]
        ]
    },
    {
        "id": "681d291e531b6ecb",
        "type": "link out",
        "z": "0ebc9fe30e2af211",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "FLOW2_LINK_IN"
        ],
        "x": 3165,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1ba717a825d0c3f6",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "name": "debug_TIMER_INVIO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1600,
        "wires": []
    },
    {
        "id": "25b5ab87189484a1",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "name": "debug_CONFERMA",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2960,
        "y": 1020,
        "wires": []
    },
    {
        "id": "af721c0cc903d6b0",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1330,
        "y": 220,
        "wires": [
            [
                "4fe3c14ccb82e970"
            ]
        ]
    },
    {
        "id": "4fe3c14ccb82e970",
        "type": "change",
        "z": "0ebc9fe30e2af211",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mouth_states",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 220,
        "wires": [
            [
                "c5f0e46d7148096a"
            ]
        ]
    },
    {
        "id": "e3bb7f57a288293c",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Set Mouth Ready",
        "func": "// The incoming payload is the \"job\" for Flow 2\nvar mouth_id = msg.belt_payload.mouth_id;\n\nif (mouth_id) {\n    var states = flow.get(\"mouth_states\") || {};\n\n    // Reset the mouth state\n    states[mouth_id] = {\n        status: \"ready\",\n        timer: null\n    };\n    flow.set(\"mouth_states\", states);\n    node.log(\"Mouth -\" + mouth_id + \" reset to READY (job sent to the queue).\");\n\n\n} else {\n    node.error(\"Unable to unlock the mouth: mouth_id not found!\", msg);\n}\n\n// Forward the original message to the link out\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2930,
        "y": 1480,
        "wires": [
            [
                "681d291e531b6ecb",
                "1ba717a825d0c3f6",
                "9843e18731ff976b"
            ]
        ]
    },
    {
        "id": "d0428c32df4daa9c",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Manage Attempt",
        "func": "var mouth_id = msg.mouth_id;\nvar states = flow.get(\"mouth_states\") || {};\n\n// State has already been verified, but double-checking doesn't hurt\nif (!states[mouth_id] || states[mouth_id].status !== \"busy\") {\n    return null;\n}\n\n// Increment retry counter\nstates[mouth_id].retries += 1;\nnode.log(\"Mouth \" + mouth_id + \": Attempt \" + states[mouth_id].retries + \" of 5.\");\nflow.set(\"mouth_states\", states);\n\nif (states[mouth_id].retries >= 5) {\n    // 5 FAILED ATTEMPTS\n    node.warn(\"Mouth \" + mouth_id + \": 5 failed attempts. Waiting for manual correction.\");\n\n    // Prepare message for UI\n    var ui_msg = {\n        payload: \"Unknown\",\n        topic: \"smartbin/ui/classification\"\n    };\n\n    // Output 1 (Retry): null\n    // Output 2 (UI Fail): ui_msg\n    return [null, ui_msg];\n\n} else {\n    // TRY AGAIN\n\n    // Prepare retry message (\"take_photo\" command)\n    var retry_msg = {\n        payload: {\n            action: \"take_photo\",\n            waste_id: states[mouth_id].current_waste_id\n        },\n        topic: \"smartbin/mouth/\" + mouth_id + \"/command\"\n    };\n\n    // Output 1 (Retry): retry_msg\n    // Output 2 (UI Fail): null\n    return [retry_msg, null];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 1300,
        "wires": [
            [
                "d4701d56e29d9e58"
            ],
            [
                "516f611fd9bce57a"
            ]
        ]
    },
    {
        "id": "d4701d56e29d9e58",
        "type": "delay",
        "z": "0ebc9fe30e2af211",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2460,
        "y": 820,
        "wires": [
            [
                "ed591e3599a58756"
            ]
        ]
    },
    {
        "id": "a2ae74a404c55192",
        "type": "mqtt in",
        "z": "0ebc9fe30e2af211",
        "name": "Receive Cancel",
        "topic": "smartbin/mouth/+/event/cancel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "24c0b9e5da4bd92d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 860,
        "y": 960,
        "wires": [
            [
                "8abe8a5b0f495dfd"
            ]
        ]
    },
    {
        "id": "8abe8a5b0f495dfd",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "name": "Manage Cancel",
        "func": "var mouth_id = msg.topic.split('/')[2];\nvar sessions = flow.get(\"sessions\") || {};\nvar states = flow.get(\"mouth_states\") || {};\n\n// 1. SESSION Management (10s Timer)\nif (sessions[mouth_id]) {\n    if (sessions[mouth_id].timerId) {\n        clearTimeout(sessions[mouth_id].timerId);\n    }\n    delete sessions[mouth_id];\n    flow.set(\"sessions\", sessions);\n    node.log(\"Cancel: Session/Timer cleared for mouth \" + mouth_id);\n}\n\n// 2. STATE Management (Busy -> Ready)\nif (states[mouth_id]) {\n    // If there's a watchdog timer (for busy state), clear it\n    if (states[mouth_id].timer) {\n        clearTimeout(states[mouth_id].timer);\n    }\n\n    // Force state to READY\n    states[mouth_id] = {\n        status: \"ready\",\n        timer: null\n    };\n    flow.set(\"mouth_states\", states);\n    node.log(\"Cancel: State forced to READY for mouth \" + mouth_id);\n}\n\n// 3. Feedback per l'UI\nmsg.payload = \"Cancelled\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 960,
        "wires": [
            [
                "516f611fd9bce57a"
            ]
        ]
    },
    {
        "id": "c5f0e46d7148096a",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "name": "Cancel",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 220,
        "wires": []
    },
    {
        "id": "dfba5c86279c1d7f",
        "type": "aedes broker",
        "z": "0ebc9fe30e2af211",
        "name": "Broker",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 1190,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "21119488f0fcdc46",
        "type": "sqlite",
        "z": "0ebc9fe30e2af211",
        "g": "900bf7bf98ef5e48",
        "mydb": "e1dff9e0ae649db1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1130,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "9ce4f3b67e84a1eb",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "g": "de99ec2141cbd81f",
        "name": "Init DB Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 2380,
        "wires": [
            [
                "3ed309125e4d5c7d"
            ]
        ]
    },
    {
        "id": "3ed309125e4d5c7d",
        "type": "sqlite",
        "z": "0ebc9fe30e2af211",
        "g": "de99ec2141cbd81f",
        "mydb": "e1dff9e0ae649db1",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS waste_history (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,\n    mouth_id TEXT,\n    waste_id TEXT,\n    material TEXT,\n    ai_correct INTEGER\n);",
        "name": "",
        "x": 1450,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "9843e18731ff976b",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "g": "d5b0e68c69f5dd85",
        "name": "Prepara INSERT",
        "func": "// NODE: Prepare INSERT (Corrected)\n\nvar data = msg.belt_payload;\n\n// Escape strings for safety\nfunction escapeSQL(str) {\n    // Handle null/undefined values\n    if (str === null || str === undefined) {\n        return '';\n    }\n    return str.toString().replace(/'/g, \"''\");\n}\n\n// Query diretta con valori inseriti\nmsg.topic = \"INSERT INTO waste_history (mouth_id, waste_id, material, ai_correct) VALUES ('\"\n    + escapeSQL(data.mouth_id) + \"', '\"\n    + escapeSQL(data.waste_id) + \"', '\"\n    + escapeSQL(data.material) + \"', \"\n    + (data.ai_correct ? 1 : 0) + \")\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3300,
        "y": 1480,
        "wires": [
            [
                "51c95b9a03b5c860"
            ]
        ]
    },
    {
        "id": "51c95b9a03b5c860",
        "type": "sqlite",
        "z": "0ebc9fe30e2af211",
        "g": "d5b0e68c69f5dd85",
        "mydb": "e1dff9e0ae649db1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "INSERT",
        "x": 3560,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "4933d83c3ffd4cc2",
        "type": "ui-button",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "group": "dd6fab847597a4f7",
        "name": "Mouth 1",
        "label": "Mouth 1 ",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 2360,
        "y": 2060,
        "wires": [
            [
                "7b277b7f02e4bd26",
                "3d75e7fc0839c97d",
                "b122c1e8d4d18fc9",
                "query_ai_stats"
            ]
        ]
    },
    {
        "id": "a908c8d6422e514a",
        "type": "ui-button",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "group": "dd6fab847597a4f7",
        "name": "Mouth 2",
        "label": "Mouth 2",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 2360,
        "y": 2220,
        "wires": [
            [
                "7b277b7f02e4bd26",
                "3d75e7fc0839c97d",
                "b122c1e8d4d18fc9",
                "query_ai_stats"
            ]
        ]
    },
    {
        "id": "7b277b7f02e4bd26",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "Query Today",
        "func": "var mouth_id = msg.payload; // \"1\" or \"2\"\n\n// Build the SQL query\nmsg.topic = \"SELECT material as label, COUNT(*) as value FROM waste_history WHERE mouth_id = $mouth_id AND date(timestamp) = date('now') GROUP BY material\";\n\n// Parameters (IMPORTANT: for a direct query, insert the value directly)\nmsg.topic = \"SELECT material as label, COUNT(*) as value FROM waste_history WHERE mouth_id = '\" + mouth_id + \"' AND date(timestamp) = date('now') GROUP BY material\";\n\n// msg.params is NOT needed when using a direct query\ndelete msg.params;\n\n// Debug\nnode.warn(\"Today's query for mouth \" + mouth_id + \": \" + msg.topic);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 1980,
        "wires": [
            [
                "f507250023c4bd98"
            ]
        ]
    },
    {
        "id": "f507250023c4bd98",
        "type": "sqlite",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "mydb": "e1dff9e0ae649db1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "read_data_today",
        "x": 3430,
        "y": 2000,
        "wires": [
            [
                "40110bf9cd3a368b"
            ]
        ]
    },
    {
        "id": "1182bc5a0f716974",
        "type": "ui-chart",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "group": "813651c816117ad2",
        "name": "Waste Today",
        "label": "Daily Waste",
        "order": 1,
        "chartType": "pie",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "radial",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#77bb41",
            "#fefcdd",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 4770,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "3d75e7fc0839c97d",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "Query Week",
        "func": "\nvar mouth_id = msg.payload;// \"1\" or \"2\"\n\n// Build the SQL query with the direct value\nmsg.topic = \"SELECT date(timestamp) as x, COUNT(*) as y FROM waste_history WHERE mouth_id = '\" + mouth_id + \"' AND timestamp >= date('now', '-6 days') GROUP BY date(timestamp) ORDER BY date(timestamp)\";\n\n// msg.params is NOT needed\ndelete msg.params;\n\n// Debug\nnode.warn(\"Weekly query for mouth \" + mouth_id + \": \" + msg.topic);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 2060,
        "wires": [
            [
                "32cdb335e26905da"
            ]
        ]
    },
    {
        "id": "32cdb335e26905da",
        "type": "sqlite",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "mydb": "e1dff9e0ae649db1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "read_data_week",
        "x": 3420,
        "y": 2080,
        "wires": [
            [
                "d95ab210f7d7d9c6",
                "e922a3be02896062"
            ]
        ]
    },
    {
        "id": "inspector_inject",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "g": "ecabd79993662d15",
        "name": "DB INSPECTION",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 920,
        "y": 2740,
        "wires": [
            [
                "inspector_sqlite"
            ]
        ]
    },
    {
        "id": "inspector_sqlite",
        "type": "sqlite",
        "z": "0ebc9fe30e2af211",
        "g": "ecabd79993662d15",
        "mydb": "e1dff9e0ae649db1",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM waste_history",
        "name": "Leggi Tutto",
        "x": 1120,
        "y": 2740,
        "wires": [
            [
                "inspector_debug"
            ]
        ]
    },
    {
        "id": "inspector_debug",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "g": "ecabd79993662d15",
        "name": "DB CONTENT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 2740,
        "wires": []
    },
    {
        "id": "catch_errors",
        "type": "catch",
        "z": "0ebc9fe30e2af211",
        "g": "7565126f5d2e9e7a",
        "name": "Capture DB Errors",
        "scope": [
            "3ed309125e4d5c7d",
            "51c95b9a03b5c860"
        ],
        "uncaught": false,
        "x": 910,
        "y": 2520,
        "wires": [
            [
                "debug_errors"
            ]
        ]
    },
    {
        "id": "debug_errors",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "g": "7565126f5d2e9e7a",
        "name": "ERROR FOUND",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 2520,
        "wires": []
    },
    {
        "id": "test_write_inject",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "g": "ecabd79993662d15",
        "name": "WRITE FORCED",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 920,
        "y": 2660,
        "wires": [
            [
                "test_write_sqlite"
            ]
        ]
    },
    {
        "id": "test_write_sqlite",
        "type": "sqlite",
        "z": "0ebc9fe30e2af211",
        "g": "ecabd79993662d15",
        "mydb": "e1dff9e0ae649db1",
        "sqlquery": "fixed",
        "sql": "INSERT INTO waste_history (timestamp, mouth_id, waste_id, material, ai_correct) VALUES ('2025-12-12 14:11:43','2', 'TEST_ID', 'plastic', 1)",
        "name": "Insert Test",
        "x": 1130,
        "y": 2660,
        "wires": [
            [
                "test_write_debug"
            ]
        ]
    },
    {
        "id": "test_write_debug",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "g": "ecabd79993662d15",
        "name": "WRITING RESULT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 2660,
        "wires": []
    },
    {
        "id": "40110bf9cd3a368b",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "handleDataChart",
        "func": "// Define the fixed order and the correct display names\nvar materialsOrder = [\"plastic_metal\", \"glass\", \"paper_cardboard\"];\nvar labels = {\n    \"plastic_metal\": \"Plastic and Metal\",\n    \"glass\": \"Glass\",\n    \"paper_cardboard\": \"Paper and Cardboard\"\n};\n\n// If the payload is null, create an empty array\nvar dbRows = msg.payload || [];\n\n// Create a temporary object for fast lookup of DB values\nvar dataMap = {};\ndbRows.forEach(function (row) {\n    dataMap[row.label] = row.value;\n});\n\n// Build the final array enforcing the fixed order\nvar chartData = [];\n\nmaterialsOrder.forEach(function (matKey) {\n    chartData.push({\n        topic: labels[matKey],          // Human-readable name (e.g. \"Glass\")\n        payload: dataMap[matKey] || 0   // If not present in DB, use 0\n    });\n});\n\nnode.warn(\"Data ordered for color mapping: \" + JSON.stringify(chartData));\n\n// Send the new array (it will be split later)\nreturn { payload: chartData };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3770,
        "y": 1960,
        "wires": [
            [
                "795145e4a8e20418"
            ]
        ]
    },
    {
        "id": "d95ab210f7d7d9c6",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3700,
        "y": 1800,
        "wires": []
    },
    {
        "id": "609fcb634e466613",
        "type": "debug",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 4200,
        "y": 2240,
        "wires": []
    },
    {
        "id": "795145e4a8e20418",
        "type": "split",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 4010,
        "y": 1980,
        "wires": [
            [
                "b7a2c9425424a93f"
            ]
        ]
    },
    {
        "id": "b7a2c9425424a93f",
        "type": "change",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4220,
        "y": 1960,
        "wires": [
            [
                "delay_node"
            ]
        ]
    },
    {
        "id": "b122c1e8d4d18fc9",
        "type": "change",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3160,
        "y": 2240,
        "wires": [
            [
                "1182bc5a0f716974",
                "chart_ai_accuracy"
            ]
        ]
    },
    {
        "id": "e922a3be02896062",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "Formatta Dati Settimana",
        "func": "// 1. Retrieve data from the database (or an empty array if null)\nvar dbData = msg.payload || [];\n\n// 2. Create a map (dictionary) for fast access: \"2025-12-12\" -> 1\nvar dataMap = {};\ndbData.forEach(function (row) {\n    dataMap[row.x] = row.y;\n});\n\n// Helper function to format the date as YYYY-MM-DD\nfunction formatDate(dateObj) {\n    var d = new Date(dateObj),\n        month = '' + (d.getMonth() + 1),\n        day = '' + d.getDate(),\n        year = d.getFullYear();\n\n    if (month.length < 2) month = '0' + month;\n    if (day.length < 2) day = '0' + day;\n\n    return [year, month, day].join('-');\n}\n\nvar result = [];\nvar seriesName = \"Total Waste\"; // Nome per la legenda\n\n// 3. Generate the last 7 days (from today going back 6 days)\n// Note: this matches the SQL query \"date('now', '-6 days')\"\nfor (var i = 6; i >= 0; i--) {\n    var d = new Date();\n    d.setDate(d.getDate() - i); // Subtract days\n    var dateStr = formatDate(d);\n\n    // If present in the DB use the value, otherwise 0\n    var val = dataMap[dateStr] || 0;\n\n    result.push({\n        \"x\": dateStr,\n        \"y\": val\n    });\n}\n\n// 4. Set the topic for the chart (important for color/legend)\nmsg.topic = seriesName;\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3770,
        "y": 2060,
        "wires": [
            [
                "609fcb634e466613",
                "e2d51efdc1eed115"
            ]
        ]
    },
    {
        "id": "query_ai_stats",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "Query AI Performance",
        "func": "var mouth_id = msg.payload; // \"1\" or \"2\"\n\n// Select counts grouped by correctness (0 or 1)\n// Order DESC so that 1 (Correct) comes before 0 (Incorrect)\n// This helps keep colors consistent (Green = first, Red = second)\nmsg.topic = \"SELECT ai_correct, COUNT(*) as count FROM waste_history WHERE mouth_id = '\" + mouth_id + \"' AND date(timestamp) = date('now') GROUP BY ai_correct ORDER BY ai_correct DESC\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 2360,
        "wires": [
            [
                "sqlite_ai_stats"
            ]
        ]
    },
    {
        "id": "sqlite_ai_stats",
        "type": "sqlite",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "mydb": "e1dff9e0ae649db1",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "read_ai_stats",
        "x": 3330,
        "y": 2400,
        "wires": [
            [
                "format_ai_chart"
            ]
        ]
    },
    {
        "id": "format_ai_chart",
        "type": "function",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "Formatta AI Chart",
        "func": "// msg.payload = [{ai_correct: 1, count: 5}, {ai_correct: 0, count: 2}]\n\nif (!msg.payload || msg.payload.length === 0) {\n    return null;\n}\n\nvar chartData = [];\n\nmsg.payload.forEach(function(row) {\n    var label = (row.ai_correct === 1) ? \"AI Correct\" : \"Manual Correction\";\n    chartData.push({\n        topic: label,\n        payload: row.count\n    });\n});\n\n// Return the array, which will be split later\nmsg.payload = chartData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3750,
        "y": 2360,
        "wires": [
            [
                "split_ai_data"
            ]
        ]
    },
    {
        "id": "split_ai_data",
        "type": "split",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 4000,
        "y": 2380,
        "wires": [
            [
                "fix_ai_msg"
            ]
        ]
    },
    {
        "id": "fix_ai_msg",
        "type": "change",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "Fix Msg",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4200,
        "y": 2400,
        "wires": [
            [
                "1a5168f0038d5725"
            ]
        ]
    },
    {
        "id": "chart_ai_accuracy",
        "type": "ui-chart",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "group": "group_ai_perf",
        "name": "Accuracy Today",
        "label": "Accuracy Today",
        "order": 1,
        "chartType": "pie",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "radial",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#77bb41",
            "#ffaa00",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 4780,
        "y": 2340,
        "wires": [
            []
        ]
    },
    {
        "id": "delay_node",
        "type": "delay",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "Delay for render the chart",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 4530,
        "y": 1980,
        "wires": [
            [
                "1182bc5a0f716974"
            ]
        ]
    },
    {
        "id": "1a5168f0038d5725",
        "type": "delay",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "name": "Delay for render the chart",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 4490,
        "y": 2380,
        "wires": [
            [
                "chart_ai_accuracy"
            ]
        ]
    },
    {
        "id": "e2d51efdc1eed115",
        "type": "ui-chart",
        "z": "0ebc9fe30e2af211",
        "g": "8d50bf9a1e710b05",
        "group": "813651c816117ad2",
        "name": "Waste of the week",
        "label": "Waste of the week",
        "order": 2,
        "chartType": "bar",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "0",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 4790,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "fee5e28989a91341",
        "type": "inject",
        "z": "0ebc9fe30e2af211",
        "name": "Simulate: Class. Plastic Metal (Mouth 1)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "smartbin/mouth/2/state/classification",
        "payload": "{\"class\":\"plastic_metal\",\"waste_id\":\"test_waste_123\"}",
        "payloadType": "json",
        "x": 1030,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "9e04fd4558b2de01",
        "type": "comment",
        "z": "e196b19e598c60ff",
        "name": "Lane 3: Full Trash Alarm",
        "info": "",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "7725588c4738cce2",
        "type": "mqtt in",
        "z": "e196b19e598c60ff",
        "name": "ESP32: Bin State",
        "topic": "smartbin/+/state/bin",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "24c0b9e5da4bd92d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 260,
        "wires": [
            [
                "2c85b58fd3544ea4"
            ]
        ]
    },
    {
        "id": "71f94a6d57cf5742",
        "type": "switch",
        "z": "e196b19e598c60ff",
        "name": "Is it full?",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "full",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1140,
        "y": 260,
        "wires": [
            [
                "5e7e163a0aba93d3"
            ]
        ]
    },
    {
        "id": "2c85b58fd3544ea4",
        "type": "function",
        "z": "e196b19e598c60ff",
        "name": "function 2",
        "func": "// Il topic in arrivo  qualcosa come \"smartbin/plastica/stato\"\n// Lo dividiamo usando il carattere '/'\nconst topicParts = msg.topic.split('/');\n\n// L'ID del cestino  il secondo elemento (l'indice  0, 1, 2)\nconst binId = topicParts[1];\n\n// Aggiungiamo l'ID al messaggio per poterlo usare dopo\nmsg.bin_id = binId;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 260,
        "wires": [
            [
                "71f94a6d57cf5742"
            ]
        ]
    },
    {
        "id": "4ae29de0837a4242",
        "type": "template",
        "z": "e196b19e598c60ff",
        "name": "Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Cestino {{bin_id}} PIENO \nProvvedere alla sostituzione il prima possibile!",
        "output": "str",
        "x": 1680,
        "y": 260,
        "wires": [
            [
                "25541cd51ddf623d"
            ]
        ]
    },
    {
        "id": "5e7e163a0aba93d3",
        "type": "delay",
        "z": "e196b19e598c60ff",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1400,
        "y": 260,
        "wires": [
            [
                "4ae29de0837a4242"
            ]
        ]
    },
    {
        "id": "FLOW2_INIT",
        "type": "inject",
        "z": "e196b19e598c60ff",
        "name": "Initialize Tape (at startup)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 710,
        "y": 540,
        "wires": [
            [
                "FLOW2_SET_READY"
            ]
        ]
    },
    {
        "id": "FLOW2_SET_READY",
        "type": "change",
        "z": "e196b19e598c60ff",
        "name": "Set Tape = READY, Coda = []",
        "rules": [
            {
                "t": "set",
                "p": "belt_status",
                "pt": "flow",
                "to": "ready",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "belt_queue",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            }
        ],
        "x": 1040,
        "y": 540,
        "wires": [
            [
                "26ca1cddcd442861"
            ]
        ]
    },
    {
        "id": "FLOW2_LINK_IN",
        "type": "link in",
        "z": "e196b19e598c60ff",
        "name": "Da Flow 1: Richiesta Rilascio",
        "links": [
            "681d291e531b6ecb"
        ],
        "x": 825,
        "y": 640,
        "wires": [
            [
                "FLOW2_QUEUE_MANAGER"
            ]
        ]
    },
    {
        "id": "FLOW2_QUEUE_MANAGER",
        "type": "function",
        "z": "e196b19e598c60ff",
        "name": "Ribbon Tail Manager",
        "func": "var belt_status = flow.get(\"belt_status\") || \"ready\";\nvar job = msg;\n\nif (belt_status === \"ready\") {\n    flow.set(\"belt_status\", \"busy\");\n\n    var mqttMsg = { payload: job.mqtt_payload, topic: job.mqtt_topic };\n    // Output 2 could be for intermediate logging, or unused\n    var logStartMsg = { payload: \"Starting belt for: \" + job.belt_payload.material };\n    var beltMsg = { payload: job.belt_payload }; // Waste info for belt simulation\n\n    // mqttMsg on Output 1, logStartMsg on 2, beltMsg on 3\n    return [mqttMsg, null, beltMsg];\n} else {\n    var queue = flow.get(\"belt_queue\") || [];\n    queue.push(job);\n    flow.set(\"belt_queue\", queue);\n    node.warn(\"Belt busy, queued: \" + job.belt_payload.material + \" from mouth \" + job.belt_payload.mouth_id);\n    return null;\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 640,
        "wires": [
            [
                "FLOW2_MQTT_OUT"
            ],
            [
                "FLOW2_LOG_BELT"
            ],
            [
                "567d7c7673949b7e"
            ]
        ]
    },
    {
        "id": "FLOW2_MQTT_IN_CLEAR",
        "type": "mqtt in",
        "z": "e196b19e598c60ff",
        "name": "Tape: Waste Disposed",
        "topic": "smartbin/belt/event/cleared",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "24c0b9e5da4bd92d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 740,
        "wires": [
            [
                "FLOW2_PROCESS_QUEUE"
            ]
        ]
    },
    {
        "id": "FLOW2_PROCESS_QUEUE",
        "type": "function",
        "z": "e196b19e598c60ff",
        "name": "Process Tail",
        "func": "var queue = flow.get(\"belt_queue\") || [];\n\nif (queue.length > 0) {\n    var job = queue.shift();\n    flow.set(\"belt_queue\", queue);\n    // Belt remains \"busy\"\n\n    var mqttMsg = { payload: job.mqtt_payload, topic: job.mqtt_topic };\n    // Output 2 could be for intermediate logging, or unused\n    var logStartMsg = { payload: \"Starting belt (from queue) for: \" + job.belt_payload.material };\n    var beltMsg = { payload: job.belt_payload }; // Waste info for belt simulation\n\n    // mqttMsg su Uscita 1, logStartMsg su 2, beltMsg su 3\n    return [mqttMsg, null, beltMsg];\n} else {\n    flow.set(\"belt_status\", \"ready\");\n    node.log(\"Queue empty, Belt set to READY.\");\n    return null;\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 740,
        "wires": [
            [
                "FLOW2_MQTT_OUT"
            ],
            [
                "FLOW2_LOG_BELT"
            ],
            [
                "567d7c7673949b7e"
            ]
        ]
    },
    {
        "id": "FLOW2_MQTT_OUT",
        "type": "mqtt out",
        "z": "e196b19e598c60ff",
        "name": "Send 'open_gate' Command (Nastro)",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24c0b9e5da4bd92d",
        "x": 1450,
        "y": 720,
        "wires": []
    },
    {
        "id": "FLOW2_LOG_BELT",
        "type": "debug",
        "z": "e196b19e598c60ff",
        "name": "LOG TAPE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 620,
        "wires": []
    },
    {
        "id": "26ca1cddcd442861",
        "type": "debug",
        "z": "e196b19e598c60ff",
        "name": "debug_SET_TAPE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 540,
        "wires": []
    },
    {
        "id": "567d7c7673949b7e",
        "type": "link out",
        "z": "e196b19e598c60ff",
        "name": "Trigger Simulazione Nastro",
        "mode": "link",
        "links": [
            "SIM_LINK_IN"
        ],
        "x": 1305,
        "y": 820,
        "wires": []
    },
    {
        "id": "SIM_LINK_IN",
        "type": "link in",
        "z": "e196b19e598c60ff",
        "name": "Avvio Simulazione Nastro",
        "links": [
            "567d7c7673949b7e"
        ],
        "x": 1525,
        "y": 820,
        "wires": [
            [
                "SIM_SAVE_INFO"
            ]
        ]
    },
    {
        "id": "SIM_SAVE_INFO",
        "type": "change",
        "z": "e196b19e598c60ff",
        "name": "Save Current Refusal Info",
        "rules": [
            {
                "t": "set",
                "p": "current_belt_job",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1790,
        "y": 820,
        "wires": [
            [
                "258343f5297c36ed"
            ]
        ]
    },
    {
        "id": "SIM_INJECT_SENSOR",
        "type": "inject",
        "z": "e196b19e598c60ff",
        "g": "61f78308dbba9e1b",
        "name": "Simulates: Tape Sensor Detects Waste",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 1060,
        "wires": [
            [
                "SIM_DELAY_10S"
            ]
        ]
    },
    {
        "id": "SIM_DELAY_10S",
        "type": "delay",
        "z": "e196b19e598c60ff",
        "g": "61f78308dbba9e1b",
        "name": "Simulate: Disposal Time (10s)",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1070,
        "y": 1060,
        "wires": [
            [
                "SIM_GET_INFO"
            ]
        ]
    },
    {
        "id": "SIM_GET_INFO",
        "type": "function",
        "z": "e196b19e598c60ff",
        "g": "61f78308dbba9e1b",
        "name": "Attach Disposal Waste Info",
        "func": "\nmsg.rifiuto_smaltito = flow.get(\"current_belt_job\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1060,
        "wires": [
            [
                "SIM_CREATE_CLEARED_MSG"
            ]
        ]
    },
    {
        "id": "SIM_CREATE_CLEARED_MSG",
        "type": "change",
        "z": "e196b19e598c60ff",
        "g": "61f78308dbba9e1b",
        "name": "Create Msg: FREE TAPE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"cleared\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650,
        "y": 1060,
        "wires": [
            [
                "SIM_MQTT_OUT_CLEARED",
                "81394f7a933b62b5"
            ]
        ]
    },
    {
        "id": "SIM_MQTT_OUT_CLEARED",
        "type": "mqtt out",
        "z": "e196b19e598c60ff",
        "g": "61f78308dbba9e1b",
        "name": "Send Event: Free Tape",
        "topic": "smartbin/belt/event/cleared",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24c0b9e5da4bd92d",
        "x": 1900,
        "y": 1060,
        "wires": []
    },
    {
        "id": "81394f7a933b62b5",
        "type": "debug",
        "z": "e196b19e598c60ff",
        "g": "61f78308dbba9e1b",
        "name": "debug_cleared",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1885,
        "y": 1160,
        "wires": []
    },
    {
        "id": "258343f5297c36ed",
        "type": "debug",
        "z": "e196b19e598c60ff",
        "name": "debug_CURRENT_WASTE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 820,
        "wires": []
    },
    {
        "id": "25541cd51ddf623d",
        "type": "telegrambot-notify",
        "z": "e196b19e598c60ff",
        "name": "SmartBin-TG",
        "bot": "26b3815d27b3140c",
        "chatId": "",
        "message": "",
        "parseMode": "",
        "x": 1930,
        "y": 260,
        "wires": []
    },
    {
        "id": "7486c2caea9165e9",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-contrib-telegrambot-home": "0.8.0",
            "node-red-node-sqlite": "1.1.1",
            "node-red-contrib-aedes": "0.15.0"
        }
    }
]